.button {
  padding: 5px 22px;
  border-radius: 6px;
  border: 0;
  font-weight: 700;
  transition: 0.2s;
  max-width: 190px;

  &:hover {
    filter: brightness(0.9);
  }
}

@media (max-width: 325px) {
  .button {
    padding: 5px 18px;
    font-size: 14px;
  }
}