* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body, input, button, textarea {
  font: 400 16px "Noto Sans", sans-serif;
  color: rgb(224, 224, 224);
}

body {
  background: #272727;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(65, 64, 64);
}
 
::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102); 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
