.header {
  background: #5A50B3;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #818086;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;

  > a {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: rgb(231, 231, 231);
    align-items: center;
    display: flex;
    gap: 10px;

    > img {
      width: 62px;
    }
  }
}

.divHamMobile {
  > div:nth-child(1) {
    z-index: 100;
  }
}

.logged {
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
  }

  button {
    padding: 5px 22px;
    border-radius: 6px;
    border: 2px solid rgb(209, 64, 64);
    background: rgb(209, 64, 64);
    color: rgb(231, 231, 231);
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      background: transparent;
    }
  }

  a {
    margin-right: 2rem;
    background: rgb(231, 231, 231);
    font-weight: 600;
    padding: 5px 22px;
    border: 1px solid rgb(231, 231, 231);
    color: black;
    border-radius: 6px;
    transition: 0.2s;

    &:hover {
      background: transparent;
      color: rgb(231, 231, 231);
    }
  }
}

.buttonLoginGithub {
  padding: 10px 30px;
  border-radius: 6px;
  border: 1px solid rgb(231, 231, 231);
  background: rgb(231, 231, 231);
  font-weight: 700;
  transition: 0.2s;
  color: black;

  &:hover {
    background: transparent;
    color: rgb(231, 231, 231);
  }
}

@media (max-width: 875px) {
  .wrapper {
    > a {
      font-size: 2rem;

      > img {
        width: 52px;
      }
    }

    .buttonLoginGithub {
      padding: 6px 19px;
      font-size: 14px;
    }

    .logged {
      button, a {
        padding: 5px 19px;
        font-size: 14px;
      }

      img {
        width: 35px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0.75rem 0.85rem;
  }

  .wrapper {
    > a {
      font-size: 1.65rem;

      > img {
        width: 40px;
      }
    }
  }
}

@media (max-width: 375px) {
  .wrapper {
    > a {
      font-size: 1.35rem;

      > img {
        width: 35px;
      }
    }
  }
}

