.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 70px;

  div {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    button {
      padding: 8px 40px;
      border-radius: 6px;
      margin-top: 2rem;
      font-weight: 600;
      border: 0;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }

    button:nth-child(1) {
      color: black;
    }

    button:nth-child(2) {
      background: rgb(209, 64, 64);
    }
  }
}

@media (max-width: 525px) {
  .modalContent {
    padding: 30px;

    h1 {
      font-size: 1.5rem;
    }

    div {
      button {
        padding: 8px 15px;
        font-size: 14px;
      }
  
      button:nth-child(1) {
        color: black;
      }
  
      button:nth-child(2) {
        background: rgb(209, 64, 64);
      }
    }
  }
}

@media (max-width: 375px) {
  .modalContent {
    padding: 5px;
  }
}
